* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #191919;
  color: #0d0d0d;

  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;

}

header {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.header-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 80%;
  max-width: 800px;
}

main {
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}



.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: orange;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background-color 0.2s;
}

#main-content {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  height: max-content;
}

.main-header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cta-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-width: max-content;
  max-width: max-content;
}

.modal {
  display: auto;
  width: 30rem;
  align-self: center;
  justify-self: center;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  >label {
    font-weight: bold;
  }

  >input {
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 4px;
}
}
 
.recipe-item {
  background-color: rgb(28, 28, 28);
  /*   border: 1px solid orange;
 */
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.2);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  display: flex;
  flex-direction: column;
}

.recipe-item:hover {
  /* transform: translateY(-5px); */
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.45);
  transform: scale(1.02);
}

.recipe-item h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: orange;
}

.recipe-item img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.recipe-item p,
ul {
  margin: 8px 0;
  font-size: 14px;
  color: white;
  list-style: none;
  line-height: 1.3lh;
}

.save-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: orange;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background-color 0.2s;
}

.save-btn:hover {
  background-color: rgb(210, 136, 0);
  box-shadow: 0 0px 1px 2px rgb(255, 191, 63, 0.5) inset;
}

#aside-container {
  width: 300px;
  background-color: rgb(25, 25, 25);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.3);
}

#aside-container h2 {
  margin-bottom: 15px;
  font-size: 18px;
  color: orange;
}


.remove-btn {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  background-color: #131313;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.2s;
}

.remove-btn:hover {
  background-color: #c0392b;
}

.hidden {
  display: none;
}

/* @media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  #aside-container {
    width: 100%;
    max-height: none;
  }

  #main-content {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
} */
