* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(71, 148, 123);
  color: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;

}

/* ----- HEADER ----- */

header {
  background-color: #ece8e7;
  color: rgb(71, 148, 123);
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: sticky;

}

.main-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header-content {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 50%;
  max-width: 1000px;
}

.logo {
  font-size: 3rem;
  font-weight: bolder;
  justify-self: flex-start;
}

.cta-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-width: max-content;
  max-width: max-content;
}

.open-modal-btn {
  margin-left: 2rem;
}



.search-input input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
}


.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(31, 117, 87);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgb(18, 83, 62);
  }
}

main {
  display: flex;
  padding: 20px;
  max-width: 1200px;
  margin: 2rem auto;
}

#main-content {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  height: max-content;
  background-color: #ece8e7;
}

.recipe-item {
  background-color: #ece8e7 ;
  /*   border: 1px solid orange;
 */
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.2);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.recipe-item:hover {
  /* transform: translateY(-5px); */
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.45);
  transform: scale(1.02);
}

.recipe-item h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: rgb(18, 111, 76);
}

.recipe-item img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.recipe-item p,
ul {
  margin: 8px 0;
  font-size: 14px;
  color: rgb(18, 18, 18);
  list-style: none;
  line-height: 1.3lh;
}

.recipe-item.active {
  border: 2px solid rgb(43, 109, 91);
}


/* ----- DIALOG MODAL ----- */

.modal {
  display: auto;
  width: 30rem;
  align-self: center;
  justify-self: center;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  >label {
    font-weight: bold;
  }

  >input {
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 4px;
}
  >h2 {
    margin-bottom: 2rem;
  }
}
.modal-form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(31, 117, 87);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgb(18, 83, 62);
  }
}

/* .save-recipe-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: orange;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background-color 0.2s;
}

.save-btn:hover {
  background-color: rgb(210, 136, 0);
  box-shadow: 0 0px 1px 2px rgb(255, 191, 63, 0.5) inset;
}

#aside-container {
  width: 300px;
  background-color: rgb(25, 25, 25);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.3);
}

#aside-container h2 {
  margin-bottom: 15px;
  font-size: 18px;
  color: orange;
}


.remove-btn {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  background-color: #131313;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.2s;
}

.remove-btn:hover {
  background-color: #c0392b;
} */

.hidden {
  display: none;
}



/* @media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  #aside-container {
    width: 100%;
    max-height: none;
  }

  #main-content {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
} */
