/*** Reset ***/
/* This is from Kevin Powell, edit to your liking */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
  color: inherit;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  /***** COLOR PALETTE *****/

  --color-primary: #fff9f7;
  --color-secondary: #ecf9ff;
  --color-accent: #f27141;
  --color-accent-dark: #963f20;
  --color-accent-soft: #fff1ec;
  --color-secondary-soft: #5f5f5f;

  /***** FONT STYLES *****/

  --font-base: "Roboto", sans-serif;

  /* FONT SIZES */
  --fs-s: 0.875rem; /* 14px */
  --fs-m: 1rem; /* 16px */
  --fs-l: 1.25rem; /* 20px */
  --fs-xl: 1.5rem; /* 24px */
  --fs-xxl: 2rem; /* 32px */

  /* FONT WEIGHTS */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-bolder: 800;

  /* FONT VARIANTS */
  --fv-regular: normal;
  --fv-italic: italic;
  --fv-smcaps: small-caps;

  /***** SHADOWS *****/
  --bs-dark: 0 0px 30px 0 rgba(0, 0, 0, 0.2);
  --bs-dark-red: 0 0px 30px 0 rgba(176, 97, 68, 0.5);
  --bs-soft-red: 0 0 3rem 0 rgba(176, 97, 68, 0.2);
}

.btn-primary {
  width: 100%;
  padding: 0.5rem 1.5rem;
  background-color: var(--color-accent);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--color-accent-dark);
  }
}

.btn-secondary {
  width: 100%;
  padding: 0.5rem 1.5rem;
  background-color: white;
  color: var(--color-accent-dark);
  border: 1px solid var(--color-accent-dark) inset;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--color-accent-soft);
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--color-accent-soft);
  color: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;
}

/* ----- HEADER ----- */

header {
  background-color: #ffffff;
  color: rgb(71, 148, 123);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1.5fr 3fr 1fr;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: sticky;
  width: 100%;
  height: 80px;
}

/* .main-header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
} */

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 1000px;
}

.nav-links {
  display: flex;
  width: max-content;
  padding: 0 2rem;

  > #nav-link {
    margin-right: 2rem;
    font-size: var(--fs-m);
    font-weight: var(--fw-regular);
    color: var(--color-secondary-soft);
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: var(--color-accent);
    }
  }
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  width: max-content;
}

.logo {
  font-size: var(--fs-m);
  font-weight: var(--fw-bold);
  margin-left: 0.6rem;
  color: var(--color-secondary-soft);
  margin-bottom: 0.4rem;
  display: none;
}

.logo-img {
  height: 100%;
  padding: 0.2rem;
}

.cta-section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: max-content;
  max-width: max-content;
}

.search-input input {
  width: 100%;
  padding: 10px;
  border-radius: 1.5rem;
  border: 1px solid var(--color-secondary-soft);
  font-size: var(--fs-s);
}

.btn-label {
  display: none;
}

#main-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 2rem auto;
  height: max-content;
  /*   background-color: var(--color-secondary);
 */
}

.recipe-item {
  background-color: var(--color-primary);
  /*   border: 1px solid orange;
 */
  border-radius: 8px;
  padding: 15px;
  box-shadow: var(--bs-soft-red);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 20rem;
}

.recipe-item:hover {
  /* transform: translateY(-5px); */
  box-shadow: var(--bs-dark-red);
  transform: scale(1.02);
}

.recipe-item.active {
  border: 2px solid var(--color-accent);
  height: fit-content;

  >.instructions-list {
    display: block;
  }
}

.recipe-item h3 {
  margin: 0.2rem 0;
  font-size: var(--fs-l);
  font-weight: var(--fw-bold);
  color: var(--color-accent-dark);
}

.recipe-time {
  font-size: var(--fs-s);
  font-variant: var(--fv-smcaps);
  font-weight: var(--fw-bold);
  color: var(--color-secondary-soft);
}

.recipe-item img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.ingredient-list {
  padding: 0.6rem 0;
  font-size: var(--fs-s);
  color: var(--color-secondary-soft);
  list-style: none;
  line-height: 1.3lh;
  font-weight: var(--fw-bold);

  /* Multi-line truncation properties */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 

  > li {
    font-weight: var(--fw-regular);
  }
}


/*HIDING the instructions-list while recipe-item is NOT ACTIVE. SHOWING instructions-list when ACTIVE with styling in @recipe-item.active >instructions-list */
.instructions-list {
  display: none;
  padding: 0.6rem 0;
  font-size: var(--fs-s);
  color: var(--color-secondary-soft);
  list-style-type: decimal;
  line-height: 1.3lh;
  font-weight: var(--fw-bold);
  margin-left: .5rem;

  /* Multi-line truncation properties */
/*   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */

  > li {
    font-weight: var(--fw-regular);
  }
}


.recipe-modal {
  display: flex;
}


/* ----- DIALOG MODAL ----- */

.modal {
  display: auto;
  width: 30rem;
  align-self: center;
  justify-self: center;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  > label {
    font-weight: bold;
  }

  > input {
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 4px;
  }
  > h2 {
    margin-bottom: 2rem;
  }
}
.modal-form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(31, 117, 87);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background-color 0.2s;

  &:hover {
    background-color: rgb(18, 83, 62);
  }
}

/* .save-recipe-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: orange;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  transition: background-color 0.2s;
}

.save-btn:hover {
  background-color: rgb(210, 136, 0);
  box-shadow: 0 0px 1px 2px rgb(255, 191, 63, 0.5) inset;
}

#aside-container {
  width: 300px;
  background-color: rgb(25, 25, 25);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.3);
}

#aside-container h2 {
  margin-bottom: 15px;
  font-size: 18px;
  color: orange;
}


.remove-btn {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  background-color: #131313;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.2s;
}

.remove-btn:hover {
  background-color: #c0392b;
} */

.hidden {
  display: none;
}

/* @media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  #aside-container {
    width: 100%;
    max-height: none;
  }

  #main-content {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
} */
